<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Loop54 [PHP] {{ currentPage }}</title>
    </head>
    <body>
        <header>
            <h1>Loop54 PHP Connector</h1>
            <h2>Test Environment</h2>
        </header>
        {{
            include('nav.html.twig', {
                'active': currentPage,
                'routes': routes
            })
        }}
        <main>
            <nav>
                <h1>Parameters</h1>
                {{
                    include('controls.html.twig', {
                        'active': currentPage,
                        'parameters': parameters
                    })
                }}
            </nav>
            {% if response %}
            <h1>Results</h1>
            {% block results %}{% endblock %}
            <h1>Raw Request</h1>
            <pre>{{raw_request}}</pre>
            <h1>Raw Response</h1>
            <pre>{{raw_response}}</pre>
            {% endif %}
        </main>

    <script>
        function generateUserId() {
            let text = "UID";
            const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 22; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }

            return text;
        }

        const cookies = document.cookie.split('; ').reduce((acc, cookie) => {
            const cookieData = cookie.split('=');
            const [key, value] = cookieData;
            acc[key] = value;

            return acc;
        }, {});

        if (!cookies['Loop54User']) {
            const userId = generateUserId();
            document.cookie = 'Loop54User=' + userId + '; path=/;';
        }
    </script>

    </body>
</html>
